html
    head
        meta(charset="UTF-8")
        title GPS Fotky
        link(rel="stylesheet" type="text/css" href="style.css")
    body
        include toolbar
        include exifPanel
        include mainContent