html
    head
        meta(charset="UTF-8")
        title GPS Fotky
        link(rel="stylesheet" type="text/css" href="style.css")
        script
            | var exports = {"__esModule": true};
        script(src="guiActions.js")
    body
        include toolbar
        div
            include exifPanel
            include mainContent